@media screen and (max-width:640px)
{
    .hero{
        width: 100%;
        position: absolute;
        top: 47px;
        height: 250px;
    }
    .heroCon{
        width: 100%;
        height: 250px;
    }
    .bigImage{
        width: 100%;
        height: 250px;
    }
    .inner{
        width: 100%;
        height: 250px;
    }
 
}